    .page {
        font-family: "Inter", "Arial", "sans-serif";
        background-color: #2A2C2F;
        color: white;
        overflow: hidden;
        text-rendering: optimizeLegibility;
        min-width: 320px;
        max-width: 1280px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 28px 0 24px;
    }
    
    @media screen and (max-width:1140px) {
        .page {
            max-width: 1024px;
        }
    }
    
    @media screen and (max-width:984px) {
        .page {
            max-width: 768px;
        }
    }
    
    @media screen and (max-width:568px) {
        .page {
            max-width: 300px;
            padding: 16px 0 0;
        }
    }