.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
    grid-template-rows: auto;
    grid-auto-flow: dense;
    justify-content: center;
    margin: 0;
    padding: 0 48px;
}

@media screen and (max-width:1140px) {
    .photo-grid {
        width: 928px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
        padding: 0;
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width:984px) {
    .photo-grid {
        width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding: 0;
        margin-right: 24px;
        margin-left: 24px;
        gap: 16px;
    }
}

@media screen and (max-width:568px) {
    .photo-grid {
        width: 288px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
        padding: 0;
        margin-right: 16px;
        margin-left: 16px;
    }
}