.intro__list {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    list-style-type: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 33px 0 0;
    padding: 0;
}

@media screen and (max-width: 1276px) {
    .intro__list {
        margin-top: 33px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 1019px) {
    .intro__list {
        margin-left: 24px;
    }
}

@media screen and (max-width: 765px) {
    .intro__list {
        margin-top: 34px;
        margin-left: 16px;
        max-width: 288px;
    }
}