.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /* margin: 0 auto; */
    /* padding: 0; */
    margin-left: 148px;
    margin-right: 148px;
}

@media screen and (max-width: 1276px) {
    .lead {
        max-width: 928px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1019px) {
    .lead {
        max-width: 768px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 765px) {
    .lead {
        max-width: 320px;
        margin-left: 0;
        margin-right: 0;
    }
}