.header__logo {
    min-height: 52px;
    max-width: 176px;
}

@media screen and (max-width: 984px) {
    .header__logo {
        width: 176px;
    }
}

@media screen and (max-width: 568px) {
    .header__logo {
        width: 142px;
    }
}


/* 162px 48px 16px */