.lead__image {
    max-width: 984px;
    /* padding: 0 148px 8px 148px; */
    margin: 0;
}

@media screen and (max-width: 1276px) {
    .lead__image {
        max-width: 928px;
        margin: 0;
        margin-left: 48px;
        margin-right: 48px;
        /* padding: 0; */
    }
}

@media screen and (max-width: 1019px) {
    .lead__image {
        max-width: 768px;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 765px) {
    .lead__image {
        margin: 0;
        padding: 0;
        max-width: 320px;
    }
}