.intro__text {
    max-width: 690px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 1276px) {
    .intro__text {
        width: 690px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 1019px) {
    .intro__text {
        font-size: 16px;
        line-height: 163%;
        margin-left: 24px;
    }
}

@media screen and (max-width: 765px) {
    .intro__text {
        margin-left: 16px;
        max-width: 288px;
    }
}