.lead__caption {
    padding-right: 825px;
    /* это я просто придумала, чтобы блок встал на место */
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    /* display: block;
    Блочный элемент 
    float: left;
    Блоки выстраиваются по горизонтали  */
}

@media screen and (max-width: 1140px) {
    .lead__caption {
        margin-left: 48px;
        margin-right: 818px;
        padding: 0;
    }
}

@media screen and (max-width: 984px) {
    .lead__caption {
        margin-left: 16px;
        margin-right: 586px;
        padding: 0;
    }
}

@media screen and (max-width: 568px) {
    .lead__caption {
        margin-left: 16px;
        margin-right: 140px;
        padding: 0;
    }
}