.footer {
    display: flex;
    justify-content: space-between;
    min-width: 1184px;
    align-content: center;
    flex-wrap: nowrap;
    padding: 0 48px 24px;
    margin: 0;
}

@media screen and (max-width: 1140px) {
    .footer {
        min-width: 928px;
    }
}

@media screen and (max-width: 984px) {
    .footer {
        padding: 0;
        min-width: 720px;
        margin: 0 24px 24px;
    }
}

@media screen and (max-width: 568px) {
    .footer {
        min-width: 186px;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 16px;
    }
}