.intro__title {
    display: flex;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    text-align: center;
    max-width: 690px;
    margin: 0;
    padding: 0 0 40px;
}

@media screen and (max-width: 1276px) {
    .intro__title {
        width: 690px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 1019px) {
    .intro__title {
        max-width: 720px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 765px) {
    .intro__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        text-align: start;
    }
}